# Часть 1. Задачи

## Содержание

<b>В этом заданиии мы попрактикуемся со следующими структурами данных: </b>
1. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#more-on-lists"> List </A>
2. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences"> Tuple </A>
3. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#dictionaries"> Dictionary </A>
4. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#sets"> Set </A>
5. <A HREF="https://realpython.com/python-counter/"> Counter </A>

## <font color="green">1. List</font>

### 1.1

Преобразуйте строку python_text в список, элементами которого являются просто слова в тексте (без знаков препинания, чисел или специальных символов). Затем распечатайте список и длину списка (то есть количество слов)

In [ ]:
python_text = """
Python is an interpreted high-level general-purpose programming language. Python's design
philosophy emphasizes code readability with its notable use of significant indentation. Its
language constructs as well as its object-oriented approach aim to help programmers write clear,
logical code for small and large-scale projects. Python is dynamically-typed and
garbage-collected. It supports multiple programming paradigms, including structured (particularly,
procedural), object-oriented and functional programming. Python is often described as a "batteries
included" language due to its comprehensive standard library. Guido van Rossum began working on
Python in the late 1980s, as a successor to the ABC programming language, and first released it in
1991 as Python 0.9.0. Python 2.0 was released in 2000 and introduced new features, such as list
comprehensions and a garbage collection system using reference counting. Python 3.0 was released in
2008 and was a major revision of the language that is not completely backward-compatible and much
Python 2 code does not run unmodified on Python 3. Python 2 was discontinued with version 2.7.18 in
2020. Python consistently ranks as one of the most popular programming
languages.
"""

In [ ]:
help(python_text.split)
help(str.replace)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

### 1.2

Напечатайте все подсписки списка ```nucleotides```.

Пример для ```[0, 1]```:

*   []
*   [0]
*   [1]
*   [0, 1]

[Источник](https://science-advice.com/genome-vs-exome) вдохновения :)

In [ ]:
nucleotides = ['A', 'T', 'G', 'C']

In [ ]:
n = len(nucleotides)
print([])
for i in range(1, 2 ** (n)):
  b = ''
  while i > 0:
    b = str(i % 2) + b
    i = i // 2
  for j in range(n - len(b)):
    b = '0' + b
  c = []
  for k in range(n):
    if b[k] == '1':
      c.append(nucleotides[k])
  print(c)

[]
['C']
['G']
['G', 'C']
['T']
['T', 'C']
['T', 'G']
['T', 'G', 'C']
['A']
['A', 'C']
['A', 'G']
['A', 'G', 'C']
['A', 'T']
['A', 'T', 'C']
['A', 'T', 'G']
['A', 'T', 'G', 'C']

### 1.3

С помощью list comprehention создайте двумерную матрицу размера $N \times N$, в которой находятся квадраты последовательных целых чисел, начиная с $0$. Сначала заполняется первый столбец, затем второй и т.д.

In [ ]:
n = int(input())
c = [[x ** 2 for x in range(i, i + (n-1) * n + 1, n)] for i in range(n)]
for k in range(n):
  print(c[k], '\n')

5
[0, 25, 100, 225, 400]

[1, 36, 121, 256, 441]

[4, 49, 144, 289, 484]

[9, 64, 169, 324, 529]

[16, 81, 196, 361, 576]

In [ ]:
# пример
# [[0, 9, 36]
# [1, 16, 49]
# [4, 25, 64]]

### 1.4

Напишите программу, декодирующую исходный закодированный список.

Пример:

In: ```encode_list = [0, [1, 2], 4, [1, 0, 3]]```

Out: ```decode_list = [0, 1, 2, 4, 1, 0, 3]```

Гарантируется, что не будет вложенности больше, чем в примере.

In [ ]:
encode_list = [0, [1, 2], 4, [1, 0, 3]]
decode_list = []
for i in range(len(encode_list)):
  if type(encode_list[i]) == list:
    for j in range(len(encode_list[i])):
      decode_list.append(encode_list[i][j])
  else:
    decode_list.append(encode_list[i])
print(decode_list)

[0, 1, 2, 4, 1, 0, 3]

## <font color="green">2. Tuple</font>

### 2.1

Напишите программу, превращающую строку в кортеж

In [ ]:
input_str = input('Введите строку: ')
c = tuple(input_str)
print(c)

Введите строку: sgdfnodf
('s', 'g', 'd', 'f', 'n', 'o', 'd', 'f')

### 2.2

Напишите программу, подсчитывающую сумму элементов и их среднее для каждого кортежа из списка кортежей. На выход вернуть список кортежей ```(sum, mean)```

In [ ]:
list_of_tuples = [(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
c = [(sum(list_of_tuples[i]), sum(list_of_tuples[i]) / len(list_of_tuples[i])) for i in range(len(list_of_tuples))]
c

[(9, 3.0), (-1, -0.3333333333333333), (7, 3.5), (8, 2.0)]

### 2.3

Пользователь вводит строки в формате "name number". Символом конца ввода служит пустая строка. Верните список кортежей ("name", number), отсортированный в порядке убывания по числам. Для одинаковых чисел сортировать кортежи в лексикографическом порядке по имени.

In [ ]:
def va(a):
  return a[1]


c = []
a = input()
while a != '':
  c.append(a)
  a = input()
d = []
for i in range(len(c)):
  g = c[i].split()
  d.append(g)

d.sort()

d.sort(key=va, reverse=True)

k = [(d[i][0], int(d[i][1])) for i in range(len(d))]
k

f 4
g 5
s 4
k 6
a 1

[('k', 6), ('g', 5), ('f', 4), ('s', 4), ('a', 1)]

### 2.4

Сгенерируйте список из N кортежей одинаковой длинны, а затем выведите кортеж, содержащий поэлементные суммы  кортежей.

Пример:

Вход: ```[(1, 5), (1, 7), (2, 8)]```

Выход: ```(4, 20)```

In [ ]:
import random
n = int(input())
l = int(input())
c = []
for i in range(n):
  c.append(tuple([random.randint(0, 100) for j in range(l)]))
print(c)
s = [0 for k in range(l)]
for j in range(l):
  for h in range(n):
    s[j] += c[h][j]
tuple(s)

7
3
[(97, 57, 72), (48, 64, 43), (98, 1, 91), (33, 51, 37), (10, 33, 83), (44, 36, 88), (52, 85, 32)]

(382, 327, 446)

### <font color="green">3. Dictionary</font>

### 3.1

Напишите программу для слияния нескольких словарей в один. Если ключи совпадают, то оставить последний встретившийся элемент.

In [ ]:
dict_1 = {'key1': 10, 'key2': 20}
dict_2 = {'key3': 30, 'key4': 40}
dict_3 = {'key1': 50, 'key5': 60}

c = {**dict_1,  **dict_2,  **dict_3}
c

{'key1': 50, 'key2': 20, 'key3': 30, 'key4': 40, 'key5': 60}

### 3.2

Напишите программу для слияния нескольких словарей в один. Если ключи совпадают, то оставить первый встретившийся элемент.

In [ ]:
dict_1 = {'key1': 10, 'key2': 20}
dict_2 = {'key3': 30, 'key4': 40}
dict_3 = {'key1': 50, 'key5': 60}

c = {**dict_3,  **dict_2,  **dict_1}
c

{'key1': 10, 'key2': 20, 'key3': 30, 'key4': 40, 'key5': 60}

### 3.3

На вход подается строка, ввод с клавиатуры. Выведите словарь символов этой строки. Значением является число вхождений.

In [ ]:
c = input()
s = {a: c.count(a) for a in c}
s

sfofdiuaidpvihffjslnvudo

{'a': 1,
 'd': 3,
 'f': 4,
 'h': 1,
 'i': 3,
 'j': 1,
 'l': 1,
 'n': 1,
 'o': 2,
 'p': 1,
 's': 2,
 'u': 2,
 'v': 2}

### 3.4

В списке, полученном в номере 1.1, посчитайте вхождение каждого слова. Вывести словарь ```"слово": число вхождений```, наиболее часто встречающееся слово и самое длинное слово.

In [ ]:
# ваш код тут

## <font color="green">4. Set</font>

### 4.1

Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

Замечание: вы уже видели это задание в прошлой работе. Обратите внимание на тему.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
print(set(a) & set(b))

{1, 2, 3, 5, 8, 13}

### 4.2

Сгенерируйте последовательность ```numbers``` из 20 натуральных чисел не больше 100, выведите ее на печать, затем нужно проверить, все ли числа в последовательности ```numbers``` уникальны.

In [ ]:
a = [random.randint(1, 100) for i in range(20)]
print(a)
c = set(a)
print(c)
if len(c) == len(a):
  print('yes')
else:
  print('no')

[20, 18, 9, 59, 89, 67, 42, 31, 23, 100, 2, 2, 25, 60, 49, 86, 63, 21, 46, 21]
{2, 67, 100, 9, 42, 46, 49, 18, 20, 21, 86, 23, 89, 59, 60, 63, 25, 31}
no

### 4.3

Напишите программу, которая принимает два списка чисел и выводит все элементы, встречающиейся только в одном списке.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
print(set(a) ^ set(b))

{34, 4, 6, 7, 9, 10, 11, 12, 21, 55, 89}

### 4.4

Выведите максимальный и минимальный элементы множества

In [ ]:
my_set = {i ** 2 // 5 for i in range(100)}
print(my_set)
print(max(my_set))
print(min(my_set))

{0, 1, 3, 5, 7, 520, 9, 12, 1036, 1548, 16, 20, 24, 28, 540, 33, 39, 1065, 45, 1584, 561, 51, 57, 64, 583, 72, 1095, 80, 1620, 88, 605, 96, 1125, 105, 115, 627, 1656, 125, 1155, 135, 649, 145, 156, 1692, 672, 1185, 168, 180, 696, 192, 1216, 1729, 204, 720, 217, 1248, 231, 744, 1767, 245, 768, 1280, 259, 1805, 273, 793, 288, 1312, 304, 819, 1843, 320, 1344, 845, 336, 1881, 352, 1377, 871, 369, 1920, 897, 387, 1411, 405, 924, 1445, 423, 1960, 952, 441, 1479, 460, 980, 480, 1513, 1008, 500}
1960
0

## <font color="green">5. Counter</font>

### 5.1

С помощью Counter выполните номер 3.3

In [ ]:
h = input()
import collections
c = collections.Counter()
for l in h:
  c[l] += 1
print(c)

sdgldkfjdgshlvnfdalv
Counter({'d': 4, 'l': 3, 's': 2, 'g': 2, 'f': 2, 'v': 2, 'k': 1, 'j': 1, 'h': 1, 'n': 1, 'a': 1})

### 5.2

С помощью Counter посчитайте число слов в тексте 1.1 и количество вхождений каждого слова. Выведите самое частое слово.

In [ ]:
# ваш код тут

# Часть 2. Pythontutor.ru

Замечание: если вы уже отправляли скриншот в первом задании, то прикрепите его еще раз.

На сайте http://pythontutor.ru/ решить по 5 любых задач на выбор в каждой из оставшихся тем.

Когда решите задачи, делаете скриншот числа решенных задач по каждой теме в личном кабинете. Скриншот прикрепляете в классрум, как описано в обучающей инструкции.