## Часть 1. Задачи

Для создания списка чисел можно использовать модуль [random](https://python-scripts.com/random)

In [ ]:
import random
import math

### Задача 1
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i < 5:
    print(i)

1
1
2
3

### Задача 2
Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
i, j = 0, 0
c = sorted(a)
d = sorted(b)
while ((i < len(c)) and (j < len(d))):
  if c[i] > d[j]:
    j+=1
  elif c[i] < d[j]:
    i+=1
  else:
    print(c[i])
    i+=1
    j+=1

1
2
3
5
8
13

### Задача 3
Нужно вывести первые n строк [треугольника Паскаля](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA_%D0%9F%D0%B0%D1%81%D0%BA%D0%B0%D0%BB%D1%8F). В этом треугольнике на вершине и по бокам стоят единицы, а каждое число внутри равно сумме двух расположенных над ним чисел. Вид треугольника можно не форматировать, т. е. просто выводить на печать строку из треугольника Паскаля.

In [ ]:
n = int(input('Введите число строк '))

Введите число строк 10

In [ ]:
a = [1]
for i in range(0, n):
  print(a)
  ao = a + [0]
  oa = [0] + a
  a = [ao[j] + oa[j] for j in range(len(ao))]

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

### Задача 4
Напишите проверку на то, является ли строка палиндромом. Палиндром — это слово или фраза, которые одинаково читаются слева направо и справа налево.

In [ ]:
stroka = input('Введите строку для проверки: ')

Введите строку для проверки: asddsa

In [ ]:
akorts = stroka[::-1]
if akorts == stroka:
  print('yes')
else:
  print('no')

yes

### Задача 5
Сделайте так, чтобы число секунд отображалось в виде дни:часы:минуты:секунды. (без использования datetime)

In [ ]:
seconds = int(input("Введите число секунд "))

Введите число секунд 56435435

In [ ]:
d = seconds // 86400
h = (seconds % 86400) // 3600
m = (seconds % 3600) // 60
s = seconds % 60
print(d, h, m, s, sep=':')

653:4:30:35

### Задача 6
Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.

In [ ]:
sequence = input("введите значение")

введите значение5436,23452,234,234458,456,234

In [ ]:
# ваш код тут
print(list(map(int, sequence.split(','))))
print(tuple(map(int, sequence.split(','))))

[5436, 23452, 234, 234458, 456, 234]
(5436, 23452, 234, 234458, 456, 234)

### Задача 7
Выведите первый и последний элемент списка, заполненного случайными целыми значениями в количестве N.

In [ ]:
N = int(input())

15

In [ ]:
mas = []
for i in range(N):
  mas.append(random.randint(0, 100))
print(mas[0], mas[N-1])

17 44

### Задача 8
Напишите программу, которая принимает имя файла и выводит его расширение. Если расширение у файла определить невозможно, выводите "нет расширения".

In [ ]:
filename = input('Введите имя файла')

Введите имя файлаDjjsjs.txt

In [ ]:
# тут случайно убрал ваш комментарий про то, что в if стоял только один знак равно
# ошибку исправил, как вернуть комментарий, не знаю
#

a = filename.split('.')
if len(a) == 1:
  print('нет расширения')
else:
  print(a[1])

txt

### Задача 9
Сложите цифры целого числа.

In [ ]:
# ваш код тут
number = 12345

s = 0
while number // 1 != 0:
    s += number % 10
    number = number // 10


print(s)

15

### Задача 10
Напишите программу, которая создает два списка случайных целых чисел размера 20 из отрезка [0, 30], выводит их на экран и все элементы первого, которых нет во втором.

In [ ]:
a = [random.randint(0, 30) for i in range(20)]
print(a)
b = [random.randint(0, 30) for i in range(20)]
print(b)
f = [x for x in a if x not in b]
print(f)

[0, 15, 5, 15, 18, 4, 8, 17, 29, 18, 4, 26, 0, 5, 13, 11, 12, 0, 17, 27]
[9, 12, 29, 7, 20, 6, 18, 28, 18, 12, 16, 27, 10, 11, 24, 20, 25, 1, 7, 22]
[0, 15, 5, 15, 4, 8, 17, 4, 26, 0, 5, 13, 0, 17]

### Задача 11
Напишите программу, которая выводит чётные числа из списка, вводимого с клавиатуры и останавливается, если встречает число 237.

In [ ]:
c = []
while True:
  a = input()
  d = int(a)
  if d % 2 == 0:
    c.append(d)
  if d == 237:
    break
print(c)

15
4
2
237
[4, 2]

### Задача 12
Посчитайте, сколько раз символ встречается в строке.

In [ ]:
string = input('Введите строку')
simbol = input('Введите символ')

Введите строкуihlkgyulfuy
Введите символl

In [ ]:
s = string.count(simbol)
print(s)

2

### Задача 13
Поменяйте значения переменных местами.

In [ ]:
var1 = input()
var2 = input()

5
1

In [ ]:
var1, var2 = var2, var1
print(var1, var2)

1 5

### Задача 14
Нужно проверить, все ли числа в последовательности уникальны. Последовательность состоит из целых чисел. Числа вводятся с клавиатуры. Концом ввода служит символ #.

In [ ]:
c = []
d = 0
while True:
  a = input()
  if a in c:
    d += 1
  c.append(a)
  if a == '#':
    break
if d == 0:
  print('yes')
else:
  print('no')

1
2
3
1
2
#
no

### Задача 15

Найдите, истинно ли, что 2 в 10 степени больше 1000 при условии, что 4 в 7й степени меньше 8 в 5й.

In [ ]:
# не понимаю условия задачи

### Задача 16

Найдите площадь круга. Число π взять из модуля math.

In [ ]:
r = float(input())

24

In [ ]:
s = math.pi * r**2
s

1809.5573684677208

### Задача 17

Мы принимаем целое число на ввод с клавиатуры (код предоставлен), вывести "цена выше рынка", если число выше 1200, "цена ниже рыночной", если число меньше 800 и "все ок" в остальных случаях. Если введено не число, то выводить "вы ввели не число".

In [ ]:
c = input()

if c.isdigit():
  d = int(c)
  if d > 1200:
    print('цена выше рынка')
  elif d < 800:
    print('цена ниже рыночной')
  else:
    print('все ок')
else:
  print('вы ввели не число')

иппр
вы ввели не число

### Задача 18

Создайте переменную, которая хранит описание этой задачи как строку, разделите слова по пробелам и приведите к нижнему регистру.

In [ ]:
s = 'Создайте переменную, которая хранит описание этой задачи как строку, разделите слова по пробелам и приведите к нижнему регистру.'
c = s.split(' ')
c = [x.lower() for x in c]
c

['создайте',
 'переменную,',
 'которая',
 'хранит',
 'описание',
 'этой',
 'задачи',
 'как',
 'строку,',
 'разделите',
 'слова',
 'по',
 'пробелам',
 'и',
 'приведите',
 'к',
 'нижнему',
 'регистру.']

### Задача 19

Напишите код, который проверяет, является ли переменная x строкой, и если да, то если в строке больше одного слова (слово - последовательность подряд идущих символов без пробелов), то выводит на экран количество слов в этой строке и сами слова в алфавитном порядке.

In [ ]:
# ваш код тут

### Задача 20

Напишите код, который все элементы списка lst с **нечетными** индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
if len(x) % 2 != 0:
  l = len(x) - 1
else:
  l = len(x)
c = []
for i in range(len(x)):
  if i % 2 == 0:
    c.append(x[i])
  else:
    c.append(x[l-i])
print(c)

[0, 13, 2, 11, 4, 9, 6, 7, 8, 5, 10, 3, 12, 1, 14]

## Часть 2. Pythontutor.ru

Зарегистрироваться на сайте http://pythontutor.ru/ и решить по 5 любых задач на выбор в каждой из первых 7 тем. То есть в каждой из тем:

- Занятие 1. Ввод и вывод данных
- Занятие 2. Условия
- Занятие 3. Вычисления
- Занятие 4. Цикл for
- Занятие 5. Строки
- Занятие 6. Цикл while
- Занятие 7. Списки

Нужно решить по 5 задач на выбор. Всего не менее 35 задач.
Решаете задачи на сайте http://pythontutor.ru/ в браузере под своим логином.

Когда решите задачи, делаете скриншот числа решенных задач по каждой теме в личном кабинете. Скриншот прикрепляете в классрум, как описано в обучающей инструкции.